.WRating-slider {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  margin: 20px 0;
}

.WRating-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #8B1713;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.WRating-slider::-webkit-slider-thumb:active {
  transform: scale(1.2);
  /* border: 2px solid #8B1713; */
}

.WRating-lock:hover {
  cursor: pointer;
}

.WRating-icon {
  width: 100%;
  height: 100%;
}