.WRating-slider {
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 86%;
  height: 5px;
  border-radius: 5px;
  margin: 20px auto;
  outline: 0;
}

.WRating-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #8B1713;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.WRating-slider::-webkit-slider-thumb:active, .WRating-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.WRating-lock {
  width: 7%;
  float: left;
}

.WRating-lock:hover {
  cursor: pointer
}

.WRating-icon {
  color: #bdc3c7;
  transition: color 0.5s;
}

.WRating-icon.WRating-active {
  color: #8B1713
}

.WRating-wrap {
  width: 100%;
}

.WRating-value {
  width: 7%;
  float: right;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin: 10px 0;
  color: #292f33
}